<template>
<div>
   <!-- Exactly Same as home
  pagination at the top,
  api call and display information,
  anitem displayed if clicked
  pagination at the bottom -->
   <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
  <div id="home">
     <section class="object animate__animated animate__fadeInDown" v-for="rec of records" :key="rec.fields.object_number">
   <div @click="anItem(rec.fields.object_number)">
  <section v-if="rec.fields.primary_image_id !== undefined ">
      <img  class='picture' loading="lazy" v-bind:src="imgurl + (rec.fields.primary_image_id).slice(0,6) + '/' + rec.fields.primary_image_id + '.jpg'"  alt="picture of">
  </section> 
    <section class="none" v-else><h1>No image</h1></section>
         <div class='plaque'>
           <h2>{{rec.fields.artist}}</h2>
           <h3>{{rec.fields.title}}</h3>
           <p>{{rec.fields.location}}</p>
           <p>{{rec.fields.place}}</p>
           <p class='date'>{{rec.fields.date_text}}</p>
         </div>
         </div>
     </section>
</div>
 <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
</div>

</template>

<script>
import axios from "axios";
/*Same as home, data for response stored in records,
imgurl is beginning of url for request in html using object number
request sent with original offset number
anItem if something is clicked return item object number as id
page1 previous page - 20 from offset number if more than 0
page 2 + 20 from offset number 
styling in home*/
export default {
  name: "eighteen",

  data() {
   return {
     records: [],
     paintings: [],
     response: null,
     imgslc: [],
     x: [],
     imgurl: 'https://media.vam.ac.uk/media/thira/collection_images/',
     offsetNumber: 0,
   }
  },
  async created() {
    try {
     const res = await axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=1800&limit=20&offset=' + this.offsetNumber);
     this.records = res.data.records;
     
   } catch(e) {
      console.error(e);
    }
  },
  methods: {
    anItem(id) {
      this.$router.push('/item/' + id)
      console.log('something is happening' + id)
    },
      page1: function(){
         if(this.offsetNumber > 0) {
           this.offsetNumber = this.offsetNumber - 20 
            window.scrollTo(0,0)
         } else{
           alert('This is page 1')
         }
         axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=1800&limit=20&offset=' + this.offsetNumber)
          .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          }).catch((e) => {
            console.error(e)
          })
         
    },
        page2: function() {
          if(this.offsetNumber >= 0) {
            this.offsetNumber = this.offsetNumber + 20
             window.scrollTo(0,0)
          }
          console.log('whats happenings')
          axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=1800&limit=20&offset=' + this.offsetNumber)
          .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          window.location.reload()
          }).catch((e) => {
            console.error(e)
          })
    }, 

  }



};


</script>

<style>

</style>
