<template>
  <div>
    <!-- Pagination for home page one at top one at bottom,
    page 1 is previous page , page 2 is next page. -->
   <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
      <div id="home">
      <!--using axios get request, loop through records, object number as key  -->
     <section class="object " v-for="rec of records" :key="rec.fields.object_number"  >
         <!-- click to show anItem in detail . id is object number-->
       <div class="animate__animated animate__fadeInDown" @click="anItem(rec.fields.object_number)">
         <!-- If image does not 404 response or no data then display image-->
          <section  v-if="rec.fields.primary_image_id !== undefined || ''" >
      <img class='picture ' loading="lazy" v-bind:src="imgurl + (rec.fields.primary_image_id).slice(0,6) + '/' + rec.fields.primary_image_id + '.jpg'"  alt="picture of">
      </section> 
      <!--else show no image -->
      <section class="none" v-else><h1 > No image</h1>
      </section>
      <!-- golden plaque with information-->
         <div class='plaque '>
           <h2>{{rec.fields.artist}}</h2>
           <h3>{{rec.fields.title}}</h3>
           <p>{{rec.fields.location}}</p>
           <p>{{rec.fields.place}}</p>
           <p class='date'>{{rec.fields.date_text}}</p>
         </div>
       </div>
     </section>
</div>
<!-- pagination at the bottom of the page-->
   <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
  /* message displayed in console*/ 
  name: "home",
  
    /* variables for image url, records retrieved from api call, offset number for pagination*/ 
  data() {
   return {
     records: [],
     imgurl: 'https://media.vam.ac.uk/media/thira/collection_images/',
     offsetNumber: 0,
     
    
   }
  },
  /* initial api request for first page. the api calls all images related to flowers. limit is twenty per page, offset initially 0*/ 
  async created() {
    try {
     const res = await axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=flowers&limit=20&offset=' + this.offsetNumber);
     this.records = res.data.records;
     console.log('original ' + this.offsetNumber)
   } catch(e) {
      console.error(e);
    }
  },
    /*page 1, if offsetnumber more than 0, then - 20. and scroll to top of page*/ 
 methods: {
  page1: function(){
         if(this.offsetNumber > 0) {
           this.offsetNumber = this.offsetNumber - 20 
            window.scrollTo(0,0)
         } else{
             /* if not more than 0 then alert user*/ 
           alert('This is page 1')
         }
           /* request with new offset number*/ 
         axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=flowers&limit=20&offset=' + this.offsetNumber)
          .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          }).catch((e) => {
            console.error(e)
          })
         
    },
       /* page 2 function, add 20 if number more than or equal to 20 */ 
    page2: function() {
          if(this.offsetNumber >= 0) {
            this.offsetNumber = this.offsetNumber + 20
             window.scrollTo(0,0)
          }
            /*request with new offset number*/ 
          axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=flowers&limit=20&offset=' + this.offsetNumber)
          .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          window.location.reload()
         
          }).catch((e) => {
            console.error(e)
          })
    }, 
      /*this pushes id to router if a user selects an item*/ 
     anItem(id) {
      this.$router.push('/item/' + id) }

 

},
 
};
</script>

<style>

html {
  background-color: rgb(165, 42, 42);
}

body {
  margin: 0;
}

  /*Pagination button styling 
  
  */ 
.paginationMain {
text-align: center;
margin-bottom: 1rem;

}

.paginationMain a{
background-color: #e0b25c;
color: rgb(0, 0, 0);


}
.prevMain, .nextMain  {
 box-shadow: .1rem -.1rem 1rem .05rem rgb(172, 110, 10) inset;
}

.prevMain{
border-radius: .5rem 0 0 .5rem;
padding-left: 1rem;
padding-bottom: .3rem;
padding-top: .3rem;
}


.nextMain{
border-radius: 0 .5rem .5rem 0;
padding-left: 1rem;
padding-bottom: .3rem;
padding-top: .3rem;
margin-left: 1rem;

}

.nextMain:hover, .prevMain:hover {
  color: white;
  background-color: brown;
  box-shadow: 0rem 0rem 2rem 0rem rgb(83, 7, 7) inset;
  transition: ease-in .2s;

}


  /*styling of page as a whole, responsive grid*/ 
#home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(350px , 1fr));
  margin: 0;
  border-bottom: 10rem yellow;
  overflow: scroll;
}

  /* this is the entire museum object*/ 
.object {
  width: 95%;
  place-self: center;
  padding-top: 1rem;
}


  /* picture styling with the image in golden frame*/ 
.picture{
  margin: 2.5rem;
  margin-top: 3rem;
  width: 60%;
  height: auto;
  place-self: center;
  box-shadow:
   0 0 0.2rem 0.3rem #573f04,
   0 0 0.1rem 0.5rem #d6aa39,
   0 0 0.1rem 0.6rem #a1821c,
   0 0 0.1rem 0.75rem #5f4504,
   -0.1rem 0 0.1rem 0.75rem #443102,
   0 0 0.1rem 0.8rem #c9a342,
   0 0 0.4rem 1.1rem  #977518,
   0 0 0.5rem 1.75rem #fbe19c,
   0 0 0.1rem 2rem  #cea024,
   0 0 0.1rem 2.1rem #a18118,
   -0.1rem 0.1rem 0.1rem 2.1rem #6b550b,
   0 0 0.1rem 2.3rem #806114,
   0 0 0rem 2.5rem #b68f26,
   -0.45rem 0rem 0.1rem 2.5rem #473007,
   -1.4rem 1rem 2rem 2rem rgb(90, 9, 9),
   -1rem 0.7rem 2rem 3rem #570e0e;
   cursor: pointer;
}

  /* if no image called, display no image inside frame*/ 
.none {
  margin: 3rem;
  font-size: 1rem;
  text-align: center;
  place-self: center;
  box-shadow:
   0 0 0.2rem 0.3rem #573f04,
   0 0 0.1rem 0.5rem #d6aa39,
   0 0 0.1rem 0.6rem #a1821c,
   0 0 0.1rem 0.75rem #5f4504,
   -0.1rem 0 0.1rem 0.75rem #443102,
   0 0 0.1rem 0.8rem #c9a342,
   0 0 0.4rem 1.1rem  #977518,
   0 0 0.5rem 1.75rem #fbe19c,
   0 0 0.1rem 2rem  #cea024,
   0 0 0.1rem 2.1rem #a18118,
   -0.1rem 0.1rem 0.1rem 2.1rem #6b550b,
   0 0 0.1rem 2.3rem #806114,
   0 0 0rem 2.5rem #b68f26,
   -0.45rem 0rem 0.1rem 2.5rem #473007,
   -1.4rem 1rem 2rem 2rem rgb(90, 9, 9),
   -1rem 0.7rem 2rem 3rem #570e0e;
   cursor: pointer;
 
}

  /* if hover then animation forward to show image can be clicked*/ 
.picture:hover, .none:hover {
  animation: pulse 2s;
}


  /* 'no image' styling*/ 
.none h1{
  background: linear-gradient(0deg, rgb(65, 3, 3) 0%, rgb(155, 33, 33) 100%);
  padding-bottom: 10vh;
  padding-top: 10vh;
}


  /* golden plaque that shows information*/ 
.plaque {
  margin: 3rem;
  background-image: linear-gradient(to top, #88681f, #f6df79, #af8b38);
  box-shadow: -0.06rem 0.06rem 0rem 0.06rem rgb(63, 40, 11);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
  color: rgb(0, 0, 0);
  grid-row-start: 2;
  place-self: center;
}

.plaque h2 {
font-size: 1.2rem;
}

.plaque h3 {
  font-size: 0.8rem;
}

.plaque p  {
  font-size: 0.7rem;
 
}

  /* date styled differently to differentiate this for the user*/ 
.date {
  font-weight: bold;
}


</style>
