<template>
    <div>
       <!-- Shows singular item requested from previous user click
       same request using axios only display if id matches-->
  <div class="pagination" >
  <a class="prev" @click="previousPage()">&lt;-Previous Item</a>
  <a class="next " @click="nextPage(), right()">Next Item-&gt;</a>
  </div>
    <h1 id="error"></h1>
     <section class="object-item " v-for="rec of records" :key="rec.fields.object_number"  >
       <div class='container' v-if="rec.fields.object_number == id">
        <section class='pic animate__animated animate__fadeInRight' v-if="rec.fields.primary_image_id !== '' " >
         <img class='picture-item' loading="lazy" v-bind:src="imgurl + (rec.fields.primary_image_id).slice(0,6) + '/' + rec.fields.primary_image_id + '.jpg'"  alt="picture of">
       </section> 
      <section class="none animate__animated animate__fadeInRight" v-else><h1>No image available</h1></section>
         <div class='plaque-item animate__animated animate__fadeIn '>
           <h2>{{rec.fields.artist}}</h2>
           <h3>{{rec.fields.title}}</h3>
           <p>{{rec.fields.location}}</p>
           <p>{{rec.fields.place}}</p>
           <p class='date-item '>{{rec.fields.date_text}}</p>
         </div>
       </div>
       
     </section>

    </div>
</template>

<script>
import axios from 'axios'
/*Same as home, data for response stored in records,
imgurl is beginning of url for request in html using object number
request sent with original offset number
an item sends user here
next page add one to object number
previous page take away from object number*/
export default {
    name:'item',
    props: ['id'],
      methods: {
        anItem(id) {
          this.identity = this.$router.get(id)
          console.log(id)
      
        },
        /* if next page clicked add one to item id then push to router, new axios request made using id */
         nextPage: function(newId) {
             if (true) {
             this.sliceN = this.id.slice(1,9)
             this.convertN = parseInt(this.sliceN)
             this.y ++
             this.numN = this.convertN + this.y
             this.newId = 'O' + this.numN
             console.log(this.newId)
             this.identity = this.$router.replace('/item/' + this.newId)
              window.location.reload()
             }
             axios.get('https://www.vam.ac.uk/api/json/museumobject/' + this.newId)
             .then((response) => {
             this.records = response.data.records;
             this.$router.get('/item/' + this.newId)
            }).catch((e) => {
            console.error(e)
            })
            
            

            
            
    },

         previousPage: function(newId) {
             this.sliceN = this.id.slice(1,9)
             this.convertN = parseInt(this.sliceN)
             this.numN = this.convertN - 1
             newId = 'O' + this.numN
             console.log(newId)
             this.identity = this.$router.push(newId)
              if (true) {
             this.sliceN = this.id.slice(1,9)
             this.convertN = parseInt(this.sliceN)
             this.y--
             this.numN = this.convertN + this.y
             this.newId = 'O' + this.numN
             console.log(this.newId)
            // this.identity = this.$router.replace(this.newId)
              window.location.reload()
             }
             axios.get('https://www.vam.ac.uk/api/json/museumobject/' + this.newId)
             .then((response) => {
             this.records = response.data.records;
             this.$router.get('/item/' + this.newId)
            }).catch((e) => {
            console.error(e)
            })
           

    },


      
    },
    /*variables */
    data() {
   return {
     records: [],
     paintings: [],
     response: null,
     imgslc: [],
     x: [],
     imgurl: 'https://media.vam.ac.uk/media/thira/collection_images/',
     nextP: "",
     previousP: "",
     sliceN: "",
     convertN: null,
     numN: null,
     element: "",
     y: null,
     x: null
     
     
   }
  },
  /* original request using id*/
  async created() {
    try {
     const res = await axios.get('https://www.vam.ac.uk/api/json/museumobject/' + this.id);
     console.log('is this getting the new id' + this.id)
     this.records = res.data;
   } catch(e) {
      console.error(e);
      document.getElementById('error').innerHTML = 'This Item Has not been found';
     
      
    }
  },





}

</script>

<style>
/*for single image on page */
.container {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px, 200px);
}

/* picture same box shadow as home, different width as only one */
.picture-item  {
  max-width: 60vw;
  margin: 4rem;
  box-shadow:
   0 0 0.2rem 0.3rem #573f04,
   0 0 0.1rem 0.5rem #d6aa39,
   0 0 0.1rem 0.6rem #a1821c,
   0 0 0.1rem 0.75rem #5f4504,
   -0.1rem 0 0.1rem 0.75rem #443102,
   0 0 0.1rem 0.8rem #c9a342,
   0 0 0.4rem 1.1rem  #977518,
   0 0 0.5rem 1.75rem #fbe19c,
   0 0 0.1rem 2rem  #cea024,
   0 0 0.1rem 2.1rem #a18118,
   -0.1rem 0.1rem 0.1rem 2.1rem #6b550b,
   0 0 0.1rem 2.3rem #806114,
   0 0 0rem 2.5rem #b68f26,
   -0.45rem 0rem 0.1rem 2.5rem #473007,
   -1.4rem 1rem 2rem 2rem rgb(90, 9, 9),
   -1rem 0.7rem 2rem 3rem #570e0e;
  
 
  
  
}


/* if not image*/
.none h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5rem;
}



.pic {
  place-self: center;
 
   

}


/** plaque styling */
.plaque-item  {
  background-image: linear-gradient(to top, #88681f, #f6df79, #af8b38);
  box-shadow: -0.06rem 0.06rem 0rem 0.06rem rgb(63, 40, 11);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
  color: rgb(0, 0, 0);
  margin: 1rem;
  min-width: 20%;
  text-align: center;
  height: auto;
  place-self: center;
  margin-top: 10vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  
  
  
}

.plaque-item  h2 {
font-size: 1.2rem;
}

.plaque-item  h3 {
  font-size: 0.8rem;
}

.plaque-item  p  {
  font-size: 0.7rem;
 
}

.date-item  {
  font-weight: bold;
}


/** pagination styling */
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
  margin-top: 1rem;
}


.prev {
 justify-self: center;


}

.next {
  justify-self: center;
 
}



</style>
