<template>
  <div>
    <!-- Exactly Same as home
  pagination at the top,
  api call and display information,
  anitem displayed if clicked
  pagination at the bottom -->
   <div v-if="this.msg.length > 0">
    <h2 class='for'>Search results for: {{this.msg}}</h2>
    
       <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
    <div id="results" >
      <section class="object-r animate__animated animate__fadeInDown" v-for="rec of records" :key="rec.fields.object_number">
        <div @click="anItem(rec.fields.object_number)">
      <section v-if="rec.fields.primary_image_id !== undefined || ''">
      <img  class='picture-r' loading="lazy" v-bind:src="imgurl + (rec.fields.primary_image_id).slice(0,6) + '/' + rec.fields.primary_image_id + '.jpg'"  alt="picture of">
       </section> 
       <section class="none-r" v-else><h1>No image</h1></section>
         <div class='plaque'>
           <h2>{{rec.fields.artist}}</h2>
           <h3>{{rec.fields.title}}</h3>
           <p>{{rec.fields.location}}</p>
           <p>{{rec.fields.place}}</p>
           <p class='date-r'>{{rec.fields.date_text}}</p>
         </div>
         </div>
         <h1 v-if="records == 0 "></h1>
     </section>
    </div>
         <div class="paginationMain" >
  <a class="prevMain"  @click="page1()">Previous Page</a>
  <a class="nextMain"   @click="page2()">Next Page</a>
  </div>
</div> 
  </div>

</template>

<script>
import axios from "axios";
import search from './search.vue'

export default {
  name: "results",
    props: {
    msg: {
      type: String
    }
  },
  data() {
   return {
     records: [],
     searchUrl: "",
     messageList: [],
     imgurl: 'https://media.vam.ac.uk/media/thira/collection_images/',
     searchStore: "",
     offsetNumber: 0
   }
  },

  components: {
    search
  },
/**watch for changes of search term, if changes then axios request sent and this shows the users request using limit of 20 */
  watch: {
    msg: function() {
      if(this.msg != "") {
         axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=' + this.msg + '&limit=20')
         .then((response) => {
           this.records = response.data.records;
           this.searchStore = this.msg;
           console.log(this.searchStore + 'search store');
           this.$router.push('item/' + this.msg)
         }).catch((e) => {
            console.error(e)
          })
          } else {
      }
    },

  },


  methods: {
    /** retrieve selected item */
    anItem(id) {
      this.$router.push('/item/' + id)
      console.log('something is happening' + id)
      window.location.reload()

    },
    /** uses offset number, and searfch store to return next pages. Search store keeps the value of search after search clears search terms */
      page1: function(){
         if(this.offsetNumber > 0) {
           this.offsetNumber = this.offsetNumber - 20 
            window.scrollTo(0,0)
         } else{
           alert('This is page 1')
         }
          axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=' + this.searchStore + '&limit=20&offset=' + this.offsetNumber)
         .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          }).catch((e) => {
            console.error(e)
          })
         
    },
    /** uses offset number + 20.  */
    page2: function() {
          if(this.offsetNumber >= 0) {
            this.offsetNumber = this.offsetNumber + 20
             window.scrollTo(0,0)
            
          }
          console.log('whats happenings' + this.offsetNumber)
          axios.get('https://www.vam.ac.uk/api/json/museumobject/search?objectnamesearch=' + this.searchStore + '&limit=20&offset=' + this.offsetNumber)
          .then((response) => {
          this.records = response.data.records;
          return this.offsetNumber
          window.location.reload()
          }).catch((e) => {
            console.error(e)
          })
    }, 


  }


};


</script>

<style>

html {
  background-color: rgb(165, 42, 42);
}

body {
  margin: 0;
}
#results {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px , 1fr));
  margin: 0;
  border-bottom: 10rem yellow;
  overflow: scroll;
}
/**search results for styling */
.for {
  display: grid;
  grid-template-columns: 1fr;
   text-align: center;
   color: white;
   font-family: Avenir, Helvetica, Arial, sans-serif;
   font-size: 1.6rem;
  
}
/** search results picture and plaque styling */
.object-r {
  width: 90%;
  margin-left: 2.5rem;
  justify-content: center;
  padding-top: 5rem;
  display: grid;

}

/** picture styling for search */
.picture-r {
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  width: 60%;
  height: auto;
  place-self: center;
  box-shadow:
   0 0 0.2rem 0.3rem #573f04,
   0 0 0.1rem 0.5rem #d6aa39,
   0 0 0.1rem 0.6rem #a1821c,
   0 0 0.1rem 0.75rem #5f4504,
   -0.1rem 0 0.1rem 0.75rem #443102,
   0 0 0.1rem 0.8rem #c9a342,
   0 0 0.4rem 1.1rem  #977518,
   0 0 0.5rem 1.75rem #fbe19c,
   0 0 0.1rem 2rem  #cea024,
   0 0 0.1rem 2.1rem #a18118,
   -0.1rem 0.1rem 0.1rem 2.1rem #6b550b,
   0 0 0.1rem 2.3rem #806114,
   0 0 0rem 2.5rem #b68f26,
   -0.45rem 0rem 0.1rem 2.5rem #473007,
   -1.4rem 1rem 2rem 2rem rgb(90, 9, 9),
   -1rem 0.7rem 2rem 3rem #570e0e;
}

/** no none for search to indicate different part of the website to user */



/** plaque styling */
.plaque-r h2 {
font-size: 1.2rem;
}

.plaque-r h3 {
  font-size: 0.8rem;
}

.plaque-r p  {
  font-size: 0.7rem;
 
}

.date-r {
  font-weight: bold;
}


</style>
