<template>
    <div>
        <!--On enter call submit function , v-model to keep trash of search term-->
        <input type="text" id="search" @keyup.enter="submit" v-model="searchTerm" placeholder="Search...">
         <div ></div>
    </div>
</template>
<script>
export default {
   name: 'search',
    data() {
        return {
          searchTerm: "",
        }
    },
   /** emit search reecord, reset search term after this */
    methods: {
        submit: function() {
            this.$emit("searchRecords", this.searchTerm);
            this.searchTerm = ""
        }
    }
}
</script>
<style>
/**styling of search bar */
input {
    padding: 0.5rem;
    
    border-radius: 5rem;
    border: none;
}

@media (min-width: 56em) { 
input {
    margin-right: 3rem;
}
}
</style>