<template>
  <div id="app">
    <div class="allhead">
    <section class='header'>
      <!--header for whole site -->
      <!-- close closes check box -->
    <router-link to="/"><h1 @click="close">The Museum</h1></router-link> 
    <search class='search' @searchRecords="theResult"></search>
     <input class='menu-btn' type="checkbox" id="menu-btn" v-model="checkBoxVal">
      <label class='menu-icon' for="menu-btn"><span class='nav-icon'></span></label>
   
       <div id="nav" class='menu' @click="newPage()">
         <ul>
           <!--Navigation links -->
           <li @click="close"> <router-link to="/">Home</router-link>  </li>
           <li @click="close"><router-link  to="/paintings">Paintings</router-link></li>
           <li @click="close"> <router-link to="/prints">Prints</router-link> </li>
           <li @click="close"><router-link  to="/eighteen">The 1800s</router-link></li>
           <li @click="close"><router-link  to="/nineteen">The 1900s</router-link></li>
           <li @click="close"> <router-link to="/twenty">The 2000s</router-link></li>
         </ul>
    </div>
    </section>
    </div>
    <!--Message from search pushed into results template -->
  <results :msg="result"></results>
    <div v-if="this.result.length == 0"> 
        <router-view/>
       </div>
       <!--Footer -->
      <footer>
        <p>Designed and Developed by Toyin Martins</p>
      </footer>

  
  </div>
</template>



<script>
import search from './components/search.vue'
import axios from "axios";
import results from './components/result.vue'


export default {
 data: function() {
   return {
       result: "",
       checkBoxVal: false,
       newNumber: null,
   }
 },

  components: {
    search,
    results,
   
  },
//returns terms from search ,
   methods: {
    theResult(terms){
      this.result = terms;
    },
    //new page resets results
    newPage() {
      this.result = "";
    }, 
    //closes nav bar on smaller devices
     close() {
     this.checkBoxVal = false;
     console.log('click')
   }
  
  },

  
}

</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Raleway:wght@500&display=swap');
/** header including nav bar , title and search bar */
.header {
  display: grid;
 
  background-color: rgb(107, 20, 25);
  box-shadow: 0rem 0.4rem 2rem 0rem rgb(46, 3, 3);
  margin-bottom: 3rem;
  overflow: hidden;
  width: 100%;
  z-index: 3;
  
}


h1 {
  text-align: center;
  color:white;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  justify-self: center;
  margin-bottom: 0;
  margin-top: 1rem;
}



.search {
  place-self: center;

}
/** navigation links */
#nav {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  overflow: hidden;
}

a {
   text-decoration: none;
   color: white;
   font-family: 'Raleway', sans-serif;
  padding-left: 0rem;
  padding-right: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;

}
ul {
  margin-bottom: .5rem;
}
li {
  list-style-type: none;
}

#nav a.router-link-exact-active {
  font-style: italic;
}
/** Header menu button on smaller devices styling */

.header .menu {
clear:both;
max-height: 0;
transition: max-height .2s ease-out;
right: 4rem;

}
.menu-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  clear: none;

}

.menu-icon .nav-icon {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: background .2s ease-out;
  margin: 1rem;
}


.menu-icon .nav-icon::before {
  background-color: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  
  position: absolute;
  transition: all .2s ease-out;
  top: 6px;
  right:0;
}

.header .menu-icon .nav-icon::after {
  background-color: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  
  position: absolute;
  transition: all .2s ease-out;
  top: 12px;
  
  
}

.menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
  
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before
 {
 transform: rotate(45deg);
 top: 12px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after 
 {
  transform: rotate(-45deg);

}
/** displays nav bar for bigger devices and changes footer, title and search position */
@media (min-width: 56em) {
  .header .menu-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

#nav a.router-link-exact-active {
  color:rgb(77, 11, 11);
  font-style: italic;
  background-color: rgb(219, 219, 219);
  padding: .5rem;
  border-radius: 1rem;
}

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  h1 {
    font-size: 3rem
  }
  .search {
    place-self: end;
  }

  footer {
    background-color: rgb(107, 20, 25);
    padding: 3rem;
    bottom: 0;
    margin-top: 6rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    
  }
}
</style>
